{% extends "layout.html" %}

{% block mainContent %}
  <p>This is the about us page
  
  <span id="stormy-gerbil-name">stormy gerbil</span>
  <span id="ok-meercat-name">ok meercat</span>
  <span id="smiling-sheep-name">smiling sheep</span>
  <img src="https://a.pragprog.com/cms/images/santa-gerbil-transparent__bs9rg1__.png" id="stormy-gerbil-headshot" height="42" width="42">
  <img src="http://www.bootstrappist.com/files/2012/12/programmer-cat.jpg" id="ok-meercat-headshot" height="42" width="42">
  <img src="http://i.guim.co.uk/static/w-620/h--/q-95/sys-images/Guardian/Pix/pictures/2014/5/15/1400149692182/ef0c5ed7-f25a-4ce5-8ee7-589849ad0be9-1020x612.jpeg" id="smiling-sheep-headshot" height="42" width="42">
  
  
  </p>
{% endblock %}
